body{
    background-color: cadetblue;
    color: brown;
    text-align: center;
    font-size: 24px;
    font-family: Arial;
}
#but{

    padding: 10px;
    width: 300px;
}
#form{
    border: black;
    background-color: peru;
    width: 350px;
    margin: 20px 20px 20px 35%;

}
.b{
    padding: 7px 9px;
}
.error {
    background: red;
}
